body {
    background-color: #e8ecf4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    background: white;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .app-name {
    color: #075eec;
    
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    
  }
  
  
  .input-field:focus {
    border-color: #075eec;
  }
  .input-group {
    margin-bottom: 20px;
  }
  
  
  
  label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #c9d3db;
    border-radius: 7px;
    outline: none;
    transition: border 0.3s;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .input-field:focus {
    border-color: #075eec;
  }
  .eye-icon {
    
    padding: 2px;    outline: none;
    box-sizing: border-box;
    
  }
  
  .error-border {
    border-color: red !important;
  }
  h2{
    color: #333;
    margin-bottom: 20px;
  }
  
  .password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .icon-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: gray;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #007ff9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-btn.disabled {
    background-color: #c9d3db;
    cursor: not-allowed;
  }
  
  .error-message {
    display: flex;
    align-items: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  